html, body, header, main, section, div, p, ul, li, h1, h2, a, img, button, form, textarea, input {
  font: inherit;
  color: inherit;
  text-decoration: none;
  box-sizing: inherit;
  border: none;
  background: transparent;
  margin: 0;
  padding: 0;
}

ul {
 list-style: none;
}

button, input[type="submit"] {
  cursor: pointer;
}
